:root{
    --scroller-gap: 1rem;
}
body{
    background-color:darkslategray;
    color: white;
    margin: 0;
    font-size: 16pt;
}
.skill_box{
    background-color: #0f3c4c;
    padding: 1ch 2ch;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 4px 2px black;
    margin: 0;
}


.scroller{
    max-width: 600px;
}
.scroller__inner{
    display: flex;
    gap: var(--scroller-gap);
    flex-wrap: wrap;
    padding-block: 1rem;
}

.scroller[data-animated = "true"]{
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
}
.scroller[data-animated = "true"] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction = "right"]{
    --_animation-direction: reverse;
}
.scroller[data-direction = "left"]{
    --_animation-direction: forwards;
}
.scroller[data-speed = "fast"]{
    --_animation-duration: 20s;
}
.scroller[data-speed = "slow"]{
    --_animation-duration: 80s;
}

@keyframes scroll{
    to{
        transform: translate(calc(-50% - var(--scroller-gap)/2));
    }
}